.ready {
  &-second-block {
    position: fixed;
    right: 0;
    top: 15%;
    padding: 0.3rem;
    background-color: white;
    margin-top: -3rem;
    width: 440px;
    margin: auto;
    border-radius: 16px 0 0 16px;
    z-index: 4;
    box-shadow: -4rem 4rem 1.6rem -62px #b3c9cc;
  }
}