
  <div iv class='reference__block--seventh'>
    <div class='reference__block--seventh_background'>
        <div class='reference__block--seventh_title'>Proč nás?</div>
        <div class='reference__block--seventh_text'>Naše řešení mají hlavu a patu.</div>
        <div class='reference__block--seventh_text'>Dbáme na skvělé uživatelské rozhraní.</div>
        <div class='reference__block--seventh_text'>Čerpáme z mnohaletých zkušeností.</div>
        <div class='reference__block--seventh_text'>Inspirujeme se nejlepšími.</div>
        <div class='reference__block--seventh_text'>Zakládáme si na technologickém náskoku.</div>
        <div class='reference__block--seventh_large'>Nabízíme naše služby i Vám.</div>
    </div>
  </div>

  <div class='reference__block--eighth'>
    <div class='reference__block--eighth_background'>
      <a class='reference__block--eighth_link' href='https://www.iquest.cz/proc-iquest'>Proč vybrat IQuest?</a>
      <a class='reference__block--eighth_link' href='https://www.iquest.cz/reference'>Reference</a>
      <a class='reference__block--eighth_link' href='https://www.iquest.cz/kontakt'>Kontaktujte nás</a>
    </div>
  </div>

