---
title: Bakker Czech Republic | iQuest s.r.o.
subtitle: logistický systém GreenGate
---
<div class="page-load reference-modal-noscroll">
<div>
  <div class='reference__block--first reference__block--first_bakker'>
    <div class='flex reference__block--first_info'>
    <div class='flex-2 reference__block--first_data'>
      <a class="back text-blue " onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
      </a>
      <div>
        <img loading="lazy" class='reference__block--first_info-logo_bakker reference__block--first_info-logo_bakker m-t-4'
          alt='bakker' src='/images/Refs/bakker_full_logo.png' />
      </div>
      <div class='flex'>
        <div class='company-titles align-self-end'>Společnost:</div>
        <div class='company-name flex-4'>BAKKER
        </div>
      </div>
      <div class='flex'>
        <div class='company-titles'>Řešení:</div>
        <div class='company-solution flex-4'>Organizace kamionové dopravy
        v rámci ČR i celé Evropy</div>
      </div>
      <div class='flex'>
        <div class='company-titles'>Výsledkem:</div>
        <div class='company-result flex-4'>Vytvořili jsme logistický systém na míru pro management dovozu
        z celé Evropy a distribuce po ČR ovoce a zeleniny
        pro hypermarkety Albert.
        <br />
        <br />
       </div>
      </div>
    </div>
    <div class='flex-3 reference__block--first_hideTablet'>
      <picture>
        <source loading="lazy" type="image/webp"  srcset='/images/Refs/bakker_laptop.webp' >
        <source loading="lazy" type="image/png"  srcset='/images/Refs/bakker_laptop.png' >
        <img loading="lazy" class='reference__block--first_laptop reference__block--first_laptop_phones' alt='laptop' src='/images/Refs/bakker_laptop.png' />
      </picture>


    </div>
    </div>
    <picture>
      <source loading="lazy" type="image/webp"  srcset='/images/Refs/bakker_vegetables.webp' >
      <source loading="lazy" type="image/png"  srcset='/images/Refs/bakker_vegetables.png' >
      <img loading="lazy" class='reference__block--first_vegetables' alt='bakker_vegetables' src='/images/Refs/bakker_vegetables.png' />
    </picture>

    <picture>
      <source loading="lazy"  type="image/webp"  srcset='/images/Refs/bakker_green_truck.webp' >
      <source loading="lazy"  type="image/png"  srcset='/images/Refs/bakker_green_truck.png' >
      <img loading="lazy" class='reference__block--first_green_truck' alt='bakker_green_truck' src='/images/Refs/bakker_green_truck.png' />
    </picture>

  </div>

  <div class='reference__block--second'>
    <div class='reference__block--second_text'>
    Společnost BAKKER je výhradní přepravce kamionovou dopravou ovoce a zeleniny pro řetězce Albert společnosti Ahold. 110 kamionů doveze
každý den 440.000 kg ovoce a zeleniny. (viz https://www.bakkersro.cz/our-operations/key-figures)
    </div>
  </div>

  <div class='reference__block--third reference__block--third_bakker'>
    <div class='flex'>
      <div class='reference__block--third_title flex-1'>
        Komplexní management přeprav
      </div>
      <div class='reference__block--third_text m-b-6  flex-2'>
        Zefektivnili jsme plánování jednotlivých přeprav. Zpřehlednili jsme zadávání požadavků a organizaci řidičů vozidel. Náš systém má rovněž za úkol plánování směn řidičů, který reflektuje jejich pracovní
        dobu i zákonné požadavky na odpočinek řidičů.
      </div>
    </div>
    <div class='flex'>
      <div class='reference__block--third_title flex-1'>
        Maximální informvanost dodavatelů i přepravců
      </div>
      <div class='reference__block--third_text m-b-6  flex-2'>
        Dostatek informací je základ efektivního řízení logistiky. Dodavatelé napříč Evropou vidí své objednávky, jejich specifika a požadavky na nakládky. Jsou online informováni o stavu přeprav pomocí svého webového přístupu.
        Dopravci pak mají svůj vlastní přístup, přes který jsou informováni o zakázkách, mají možnost upřesňovat data o jízdách a komunikovat s dispečery.
      </div>
    </div>
    <div class='flex'>
      <div class='reference__block--third_title flex-1'>
        Mobilní aplikace řidičů
      </div>
      <div class='reference__block--third_text m-b-6  flex-2'>
        Tablet umístěný v každém vozidle umožňuje maximální informovanost řidiče ohledně požadavků a jejich případných změn. Rovněž je napojen přímo do systému dispečinku, takže dispečeři znají detailní průběh jízdy, stavy nakládek a vykládek a dokáží pružně reagovat na situaci.
      </div>
    </div>
    <div class='flex'>
      <div class='reference__block--third_title flex-1'>
        Integrované informační tabule v distribučních centrech
      </div>
      <div class='reference__block--third_text m-b-6  flex-2'>
        Rovněž organizace nakládek a vykládek v konkrétních distribučních centrech je propojena s naším systémem, kdy pracovníci vidí na informačních tabulích časy příjezdů a odjezdů vozidel, destinace i případné časové změny jednotlivých přeprav.
      </div>
    </div>


  </div>

  <div class='reference__block--fourth'>
    <div class='reference__block--fourth_bgvideo'>
      <video class='reference__block--fourth_videocontent' autoplay loop muted poster="/images/Refs/greenswan_hands.webp">
        <source src="/videos/typing-lg.mp4" media="(min-width: 1280px)" type="video/mp4">
        <source src="/videos/typing-lg.webm" media="(min-width: 1280px)" type="video/webm">
        <source src="/videos/typing.mp4"  media="(max-width: 1279px)" type="video/mp4">
        <source src="/videos/typing.webm" media="(max-width: 1279px)" type="video/webm">
        Váš prohlížeč nepodporuje značku videa.
      </video>
    </div>
  </div>

  <div class='reference__block--fifth'>
    <div class='reference__block--fifth_plan-md'>
      <picture>
        <source loading="lazy" type="image/webp"  srcset='/images/Refs/bakker_plan.webp' >
        <source loading="lazy" type="image/png"  srcset='/images/Refs/bakker_plan.png' >
        <img loading="lazy" class='reference__block--fifth_plan' alt='plan' src='/images/Refs/bakker_plan.png' />
      </picture>
    </div>
    <div class='reference__block--fifth_points reference__block--fifth_points-bakker'>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Online organizace přeprav</div>
      </div>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Organizace směn řidičů</div>
      </div>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Portál pro dodavatele plně integrovaný
        s přepravním systémem</div>
      </div>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Mobilní aplikace řidičů</div>
      </div>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Integrovaná SMS brána</div>
      </div>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Integrované informační tabule
        v distribučních centrech</div>
      </div>
    </div>
  </div>

  <div class='reference__block--sixth'>
      <div class='reference__block--sixth_header'>Potřebné dovednosti</div>
      <div class='reference__block--sixth_links'>
        <a href='#detailni_funkcni_procesni_a_datova_analyza' class='reference__block--sixth_box  reference__block--sixth_box-detail_process'>
          <div class='reference__block--sixth_title'>Detailní funkční, procesní a datová analýza.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#navrh_informacniho_systemu' class='reference__block--sixth_box  reference__block--sixth_box-system_plan'>
          <div class='reference__block--sixth_title'>Návrh informačního systému.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#tvorba_analytickych_modelu' class='reference__block--sixth_box reference__block--sixth_box-programing'>
          <div class='reference__block--sixth_title'>Programování.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#programovani' class='reference__block--sixth_box  reference__block--sixth_box-analytics_models'>
          <div class='reference__block--sixth_title'>Tvorba analytických modelů.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#systemova_integrace' class='reference__block--sixth_box reference__block--sixth_box-system_integration'>
          <div class='reference__block--sixth_title'>Systémová integrace.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#projektove_rizeni' class='reference__block--sixth_box reference__block--sixth_box-management'>
          <div class='reference__block--sixth_title'>Projektové řízení.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#vyvoj_pro_mobilni_zarizeni' class='reference__block--sixth_box reference__block--sixth_box-mobile_apps'>
          <div class='reference__block--sixth_title'>Vývoj pro mobilní zařízení.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#integrace_mapoveho_subsystemu' class='reference__block--sixth_box reference__block--sixth_box-map_integration'>
          <div class='reference__block--sixth_title'>Integrace mapového
          subsystému.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#adaptace_uzivatelu' class='reference__block--sixth_box reference__block--sixth_box-users'>
          <div class='reference__block--sixth_title'>Adaptace uživatelů.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#provozovani_v_prostredi_cloudu' class='reference__block--sixth_box reference__block--sixth_box-cloud'>
          <div class='reference__block--sixth_title'>Provozování v prostředí cloudu.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
      </div>
    </div>

  <div class='reference__block--span'>
    <span class='reference__block--seventh_dots'></span>
  </div>

  <div class='reference__block--seventh'>
      <div class='reference__block--seventh_title'>Proč nás?</div>
      <div class='reference__block--seventh_text'>Naše řešení mají hlavu a patu.</div>
      <div class='reference__block--seventh_text'>Dbáme na skvělé uživatelské rozhraní.</div>
      <div class='reference__block--seventh_text'>Čerpáme z mnohaletých zkušeností.</div>
      <div class='reference__block--seventh_text'>Inspirujeme se nejlepšími.</div>
      <div class='reference__block--seventh_text'>Zakládáme si na technologickém náskoku.</div>
      <div class='reference__block--seventh_large'>Nabízíme naše služby i Vám.</div>
  </div>

  <div class='reference__block--eighth'>
    <div class='reference__block--eighth_background'>
      <a class='reference__block--eighth_link' href='https://www.iquest.cz/proc-iquest'>Proč vybrat IQuest?</a>
      <a class='reference__block--eighth_link' href='https://www.iquest.cz/reference'>Reference</a>
      <a class='reference__block--eighth_link' href='https://www.iquest.cz/kontakt'>Kontaktujte nás</a>
    </div>
  </div>


  </div>
  <%= partial 'footer' %>
</div>

<%= partial 'skill_list' %>
<%= partial 'reference_nav' %>
