---
title: Doosan | iQuest s.r.o.
subtitle: Pro společnost Doosan jsme vyvinuli administrátorskou webovou a desktopovou aplikaci pro správu manuálů pro stavební stroje, bagry, vysokozdvižné vozíky atp. v různých jazykových mutacích. Aplikace umožňuje uživatelům stáhnout si manuál ke konkrétnímu vozíku.
---
<div class="page-load ">
    <div class='reference__block--first reference__block--first_domena'>
      <div class='flex reference__block--first_info'>
      <div class='flex-2 reference__block--first_data'>
        <a class="back text-blue " onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
        </a>
      <div>
      <picture>
        <source loading="lazy" type="image/webp"  srcset='/images/Refs/domena_full_logo.webp' >
        <source loading="lazy" type="image/png"  srcset='/images/Refs/domena_full_logo.png' >
        <img loading="lazy" class='reference__block--first_info-logo m-t-4' alt='domena-logo' src='/images/Refs/domena_full_logo.png' />
      </picture>



        </div>
        <div class='flex'>
          <div class='company-titles align-self-end'>Společnost:</div>
          <div class='company-name flex-4'>Domena.cz (Webglobe, dříve Ignum)</div>
        </div>
        <div class='flex'>
          <div class='company-titles'>Řešení:</div>
          <div class='company-solution flex-4'>On-line portál pro nákup domén a dalších služeb</div>
        </div>
        <div class='flex'>
          <div class='company-titles'>Výsledkem:</div>
          <div class='company-result flex-4'>Snadný a rychlý nákup domén na .cz, .com a mnoha dalších
          nejrůznějších koncovek. Během okamžiku z počítače i mobilu.</div>
        </div>
      </div>
      <div class='flex-3 reference__block--first_hideTablet'>
        <picture>
          <source loading="lazy" type="image/webp"  srcset='/images/Refs/domena_laptop.webp' >
          <source loading="lazy" type="image/png"  srcset='/images/Refs/domena_laptop.png' >
          <img loading="lazy" class='reference__block--first_laptop' alt='laptop' src='/images/Refs/domena_laptop.png' />
        </picture>
      </div>
      </div>

      <picture>
        <source loading="lazy"  type="image/webp"  srcset='/images/Refs/domena_wires.webp' >
        <source loading="lazy"  type="image/png"  srcset='/images/Refs/domena_wires.png' >
        <img loading="lazy" class='reference__block--first_wires' alt='wires' src='/images/Refs/domena_wires.png' />
      </picture>

      <picture>
        <source loading="lazy"  type="image/webp"  srcset='/images/Refs/domena_servers.webp' >
        <source loading="lazy"  type="image/png"  srcset='/images/Refs/domena_servers.png' >
        <img loading="lazy"  class='reference__block--first_servers' alt='servers' src='/images/Refs/domena_servers.png' />
      </picture>
    </div>

    <div class='reference__block--second'>
      <div class='reference__block--second_text'>
      Webglobe (dříve IGNUM) je jedním z nejvýznamnějších poskytovatelů internetových služeb v oblasti domén a hostingu
      v Čechách a na Slovensku.
      </div>


    </div>

    <div class='reference__block--third reference__block--third_domena'>
      <div class='reference__block--third_title'>
      Snadný nákup domény během pár kliknutí</div>
      <div>
        <div class='reference__block--third_text m-b-6'>
        Zadáním bylo umožnit rychlé vyhledávání různých dostupných koncovek doménových jmen a u nich zobrazit příslušnou cenu, a to vše během několika vteřin, jak na počítači, tak na mobilním zařízení.
        </div>
        <div class='reference__block--third_text m-b-6'>
        Dalším krokem pak je rychlý nákup a možnost zakoupení dalších dodatečných služeb.
        </div>
        <div class='reference__block--third_text m-b-6'>
        Celé řešení pak musí být pro uživatele naprosto jednoduché, aby vše zvládl během pár vteřin.
        </div>
        <div class='reference__block--third_text '>
        Před uživatelem je tak ukryta složitá integrace na vnitřní systémy společnosti, napojení na světové registrátory domén a řada dalších procesů, které jsou nutné k úspěšnému dokončení nákupu.
        </div>
      </div>
    </div>

    <div class='reference__block--fourth'>
      <div class='reference__block--fourth_bgvideo'>
        <video class='reference__block--fourth_videocontent' autoplay loop muted poster="/images/Refs/greenswan_hands.webp">
          <source src="/videos/typing-lg.mp4" media="(min-width: 1280px)" type="video/mp4">
          <source src="/videos/typing-lg.webm" media="(min-width: 1280px)" type="video/webm">
          <source src="/videos/typing.mp4"  media="(max-width: 1279px)" type="video/mp4">
          <source src="/videos/typing.webm" media="(max-width: 1279px)" type="video/webm">
          Váš prohlížeč nepodporuje značku videa.
        </video>
      </div>
    </div>

    <div class='reference__block--fifth'>
      <picture>
        <source loading="lazy" type="image/webp"  srcset='/images/Refs/domena_plan.webp' >
        <source loading="lazy" type="image/png"  srcset='/images/Refs/domena_plan.png' >
        <img loading="lazy" class='reference__block--fifth_plan' alt='plan' src='/images/Refs/domena_plan.png' />
      </picture>

      <div class='reference__block--fifth_points reference__block--fifth_points-domena'>
        <div class='flex align-center'>
          <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
          <div>Precizní řešení UX (user experience)</div>
        </div>
        <div class='flex align-center'>
          <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
          <div>Rychlé zobrazení doménových jmen na různých koncovkách různých registrátorů</div>
        </div>
        <div class='flex align-center'>
          <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
          <div>Komplexní integrace na vnitřní systémy</div>
        </div>
        <div class='flex align-center'>
          <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
          <div>Online integrace na registrátory doménových jmen</div>
        </div>
        <div class='flex align-center'>
          <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
          <div>Optimalizace rychlosti načítání stránek i dat z různých zdrojů</div>
        </div>
        <div class='flex align-center'>
          <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
          <div>Optimalizace pro vyhledávače</div>
        </div>
        <div class='flex align-center'>
          <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
          <div>Aplikace pro tvorbu vlastní www stránky Vizitka</div>
        </div>
        <div class='flex align-center'>
          <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
          <div>Samostatná mobilní verze</div>
        </div>
      </div>
    </div>

    <div class='reference__block--sixth'>
      <div class='reference__block--sixth_header'>Potřebné dovednosti</div>
      <div class='reference__block--sixth_links'>
        <div class='reference__block--sixth_box  reference__block--sixth_box-detail_process'>
          <div class='reference__block--sixth_title'>Detailní funkční, procesní
          a datová analýza.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </div>
        <div class='reference__block--sixth_box  reference__block--sixth_box-system_plan'>
          <div class='reference__block--sixth_title'>Návrh informačního systému.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </div>
        <div class='reference__block--sixth_box reference__block--sixth_box-programing'>
          <div class='reference__block--sixth_title'>Programování.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </div>
        <div class='reference__block--sixth_box  reference__block--sixth_box-analytics_models'>
          <div class='reference__block--sixth_title'>Tvorba analytických modelů.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </div>
        <div class='reference__block--sixth_box reference__block--sixth_box-system_integration'>
          <div class='reference__block--sixth_title'>Systémová integrace.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </div>
        <div class='reference__block--sixth_box reference__block--sixth_box-management'>
          <div class='reference__block--sixth_title'>Projektové řízení.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </div>
        <div class='reference__block--sixth_box reference__block--sixth_box-mobile_apps'>
          <div class='reference__block--sixth_title'>Vývoj pro mobilní zařízení.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </div>
        <div class='reference__block--sixth_box reference__block--sixth_box-map_integration'>
          <div class='reference__block--sixth_title'>Integrace mapového
          subsystému.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </div>
        <div class='reference__block--sixth_box reference__block--sixth_box-users'>
          <div class='reference__block--sixth_title'>Adaptace uživatelů.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </div>
        <div class='reference__block--sixth_box reference__block--sixth_box-cloud'>
          <div class='reference__block--sixth_title'>Provozování v prostředí cloudu.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </div>
      </div>
    </div>


    <div class='reference__block--seventh'>
      <span class='reference__block--seventh_dots'></span>
        <div class='reference__block--seventh_title'>Proč nás?</div>
        <div class='reference__block--seventh_text'>Naše řešení mají hlavu a patu.</div>
        <div class='reference__block--seventh_text'>Dbáme na skvělé uživatelské rozhraní.</div>
        <div class='reference__block--seventh_text'>Čerpáme z mnohaletých zkušeností.</div>
        <div class='reference__block--seventh_text'>Inspirujeme se nejlepšími.</div>
        <div class='reference__block--seventh_text'>Zakládáme si na technologickém náskoku.</div>
        <div class='reference__block--seventh_large'>Nabízíme naše služby i Vám.</div>
    </div>

    <div class='reference__block--eighth'>
      <div class='reference__block--eighth_background'>
        <a class='reference__block--eighth_link' href='https://www.iquest.cz/proc-iquest'>Proč vybrat IQuest?</a>
        <a class='reference__block--eighth_link' href='https://www.iquest.cz/reference'>Reference</a>
        <a class='reference__block--eighth_link' href='https://www.iquest.cz/kontakt'>Kontaktujte nás</a>
      </div>
    </div>

    <%= partial 'footer' %>


</div>

<%= partial 'skill_list' %>
<%= partial 'reference_nav' %>
