---
title: Vnitrofiremní informační systém pro společnost Eurosignal | iQuest s.r.o.
subtitle: Vybudovali jsme a rozvíjíme komplexní vnitrofiremní informační systém s klientskou samoobsluhou pro poskytovatele internetového připojení - Eurosignal
---
<div class="page-load reference-modal-noscroll">
<div>
  <div class='reference__block--first reference__block--first_eurosignal'>
    <div class='flex reference__block--first_info'>
    <div class='flex-2 reference__block--first_data'>
      <a class="back text-blue " onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
      </a>
      <div>
        <img loading="lazy" class='reference__block--first_info-logo_eurosignal reference__block--first_info-logo_eurosignal m-t-4'
          alt='eurosignal' src='/images/Refs/eurosignal_full_logo.png' />
      </div>
      <div class='flex'>
        <div class='company-titles align-self-end'>Společnost:</div>
        <div class='company-name flex-4'>Družstvo EUROSIGNAL
        </div>
      </div>
      <div class='flex'>
        <div class='company-titles'>Řešení:</div>
        <div class='company-solution flex-4'>Vnitrofiremní informační systém pro společnost
        Eurosignal</div>
      </div>
      <div class='flex'>
        <div class='company-titles'>Výsledkem:</div>
        <div class='company-result flex-4'>Řízení databáze klientů, přípojných bodů, připojení, plateb
        klientů a další.
        <br />
        <br />
        Na míru vyvinutý systém při management práce techniků, mobilní aplikace pro
        techniky, správa pracovní doby a práce na zakázkách, ujetých kilometrech,...</div>
      </div>
    </div>
    <div class='flex-3 reference__block--first_hideTablet'>
      <picture>
        <source loading="lazy" type="image/webp"  srcset='/images/Refs/eurosignal_laptop.webp' >
        <source loading="lazy" type="image/png"  srcset='/images/Refs/eurosignal_laptop.png' >
        <img loading="lazy" class='reference__block--first_laptop' alt='laptop' src='/images/Refs/eurosignal_laptop.png' />
      </picture>


    </div>
    </div>
    <picture>
      <source loading="lazy" type="image/webp"  srcset='/images/Refs/eurosignal_modem.webp' >
      <source loading="lazy" type="image/png"  srcset='/images/Refs/eurosignal_modem.png' >
      <img loading="lazy" class='reference__block--first_modem' alt='eurosignal_modem' src='/images/Refs/eurosignal_modem.png' />
    </picture>

    <picture>
      <source loading="lazy"  type="image/webp"  srcset='/images/Refs/eurosignal_server.webp' >
      <source loading="lazy"  type="image/png"  srcset='/images/Refs/eurosignal_server.png' >
      <img loading="lazy" class='reference__block--first_eurosignal_server' alt='eurosignal_server' src='/images/Refs/eurosignal_server.png' />
    </picture>

  </div>

  <div class='reference__block--second'>
    <div class='reference__block--second_text'>
    Eurosignal je významným poskytovatelem připojení k internetu v Praze a Středočeském kraji. Zakládá si na kvalitním
a rychlém připojení, které nepadá.
    </div>
  </div>

  <div class='reference__block--third reference__block--third_eurosignal'>
    <div class='reference__block--third_title'>
    Komplexní správa databáze tisíců klientů, připojení, smluv, plateb... Rozsáhlý systém na řízení prací techniků včetně mobilní aplikace.</div>
    <div>
      <div class='reference__block--third_text m-b-6'>
      Pro Eurosignal už pracujeme více než 11 let. Náš systém, který jsme vyvinuli na míru a neustále ho rozvíjíme, přináší snadnou správu připojení tisíců klientů.
      </div>
      <div class='reference__block--third_text m-b-6'>
      Náš systém je napojen na účetnictví, takže usnadňuje hlídání správného nastavení smluv, plateb a připojení klientů.
      </div>
      <div class='reference__block--third_text m-b-6'>
      Systém je rovněž přímo napojen na přípojné body internetové sítě a dokáže tak provádět nastavení služeb dle aktuálních tarifů klientů.
      </div>
      <div class='reference__block--third_text m-b-6'>
      Další součástí spolupráce je na míru vyvinutá aplikace pro řízení úkolů nejen servisních techniků. Snadné zadávání ze strany helpdesku, přehledný reporting a komplexní řešení uživatelských oprávnění unsadňuje a zrychluje poskytování špičkové péče klientům Eurosignalu.
      </div>
      <div class='reference__block--third_text m-b-6'>
      Díky mobilní aplikaci mají pracovních vždy přehled o plánu práce, mají při ruce vždy potřebná data o aktuálních instalacích a mohou snadno evidovat svou práci, výjezdy a veškeré potřebné informace přímo z terénu.
      </div>
    </div>
  </div>

  <div class='reference__block--fourth'>
    <div class='reference__block--fourth_bgvideo'>
      <video class='reference__block--fourth_videocontent' autoplay loop muted poster="/images/Refs/greenswan_hands.webp">
        <source src="/videos/typing-lg.mp4" media="(min-width: 1280px)" type="video/mp4">
        <source src="/videos/typing-lg.webm" media="(min-width: 1280px)" type="video/webm">
        <source src="/videos/typing.mp4"  media="(max-width: 1279px)" type="video/mp4">
        <source src="/videos/typing.webm" media="(max-width: 1279px)" type="video/webm">
        Váš prohlížeč nepodporuje značku videa.
      </video>
    </div>
  </div>

  <div class='reference__block--fifth'>
    <picture>
      <source loading="lazy" type="image/webp"  srcset='/images/Refs/eurosignal_plan.webp' >
      <source loading="lazy" type="image/png"  srcset='/images/Refs/eurosignal_plan.png' >
      <img loading="lazy" class='reference__block--fifth_plan' alt='plan' src='/images/Refs/eurosignal_plan.png' />
    </picture>

    <div class='reference__block--fifth_points reference__block--fifth_points-eurosignal'>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Komplexní databáze klientů</div>
      </div>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Napojení na přípojné body internetové sítě</div>
      </div>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Mobilní aplikace techniků</div>
      </div>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Správa smluv, připojení, plateb...</div>
      </div>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Management úkolů pracovníků</div>
      </div>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Napojení účetního software</div>
      </div>
    </div>
  </div>

  <div class='reference__block--sixth'>
      <div class='reference__block--sixth_header'>Potřebné dovednosti</div>
      <div class='reference__block--sixth_links'>
        <a href='#detailni_funkcni_procesni_a_datova_analyza' class='reference__block--sixth_box  reference__block--sixth_box-detail_process'>
          <div class='reference__block--sixth_title'>Detailní funkční, procesní a datová analýza.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#navrh_informacniho_systemu' class='reference__block--sixth_box  reference__block--sixth_box-system_plan'>
          <div class='reference__block--sixth_title'>Návrh informačního systému.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#tvorba_analytickych_modelu' class='reference__block--sixth_box reference__block--sixth_box-programing'>
          <div class='reference__block--sixth_title'>Programování.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#programovani' class='reference__block--sixth_box  reference__block--sixth_box-analytics_models'>
          <div class='reference__block--sixth_title'>Tvorba analytických modelů.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#systemova_integrace' class='reference__block--sixth_box reference__block--sixth_box-system_integration'>
          <div class='reference__block--sixth_title'>Systémová integrace.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#projektove_rizeni' class='reference__block--sixth_box reference__block--sixth_box-management'>
          <div class='reference__block--sixth_title'>Projektové řízení.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#vyvoj_pro_mobilni_zarizeni' class='reference__block--sixth_box reference__block--sixth_box-mobile_apps'>
          <div class='reference__block--sixth_title'>Vývoj pro mobilní zařízení.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#integrace_mapoveho_subsystemu' class='reference__block--sixth_box reference__block--sixth_box-map_integration'>
          <div class='reference__block--sixth_title'>Integrace mapového
          subsystému.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#adaptace_uzivatelu' class='reference__block--sixth_box reference__block--sixth_box-users'>
          <div class='reference__block--sixth_title'>Adaptace uživatelů.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#provozovani_v_prostredi_cloudu' class='reference__block--sixth_box reference__block--sixth_box-cloud'>
          <div class='reference__block--sixth_title'>Provozování v prostředí cloudu.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
      </div>
    </div>

  <div class='reference__block--span'>
    <span class='reference__block--seventh_dots'></span>
  </div>

  <div class='reference__block--seventh'>
      <div class='reference__block--seventh_title'>Proč nás?</div>
      <div class='reference__block--seventh_text'>Naše řešení mají hlavu a patu.</div>
      <div class='reference__block--seventh_text'>Dbáme na skvělé uživatelské rozhraní.</div>
      <div class='reference__block--seventh_text'>Čerpáme z mnohaletých zkušeností.</div>
      <div class='reference__block--seventh_text'>Inspirujeme se nejlepšími.</div>
      <div class='reference__block--seventh_text'>Zakládáme si na technologickém náskoku.</div>
      <div class='reference__block--seventh_large'>Nabízíme naše služby i Vám.</div>
  </div>

  <div class='reference__block--eighth'>
    <div class='reference__block--eighth_background'>
      <a class='reference__block--eighth_link' href='https://www.iquest.cz/proc-iquest'>Proč vybrat IQuest?</a>
      <a class='reference__block--eighth_link' href='https://www.iquest.cz/reference'>Reference</a>
      <a class='reference__block--eighth_link' href='https://www.iquest.cz/kontakt'>Kontaktujte nás</a>
    </div>
  </div>


  </div>
  <%= partial 'footer' %>
</div>

<%= partial 'skill_list' %>
<%= partial 'reference_nav' %>
