---
title: Česká filharmonie - Galerie Rudolfinum | iQuest s.r.o.
subtitle: Pokladní systém - webová aplikace - na míru pro Galerii Rudolfinum.
---
<div class="page-load reference-modal-noscroll">
<div>
  <div class='reference__block--first reference__block--first_rudolfinum'>
    <div class='flex reference__block--first_info'>
    <div class='flex-2 reference__block--first_data'>
      <a class="back text-blue " onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
      </a>
      <div>
        <img loading="lazy" class='reference__block--first_info-logo_rudolfinum reference__block--first_info-logo_rudolfinum m-t-4'
          alt='rudolfinum' src='/images/Refs/rudolfinum_full_logo.png' />
      </div>
      <div class='flex'>
        <div class='company-titles align-self-end'>Společnost:</div>
        <div class='company-name flex-4'>Česká filharmonie - Galerie Rudolfinum
        </div>
      </div>
      <div class='flex'>
        <div class='company-titles'>Řešení:</div>
        <div class='company-solution flex-4'>Řešení věrnostního programu, CRM aplikace,
        pokladního systému</div>
      </div>
      <div class='flex'>
        <div class='company-titles'>Výsledkem:</div>
        <div class='company-result flex-4'>Umožnili jsme správu klientů věrnostního programu, individuální
        přístup na pokladnách galerie a efektivní komunikaci s klienty.
        Dodali jsme pokladní systém</div>
      </div>
    </div>
    <div class='flex-3 reference__block--first_hideTablet'>
      <picture>
        <source loading="lazy" type="image/webp"  srcset='/images/Refs/rudolfinum_laptop.webp' >
        <source loading="lazy" type="image/png"  srcset='/images/Refs/rudolfinum_laptop.png' >
        <img loading="lazy" class='reference__block--first_laptop' alt='laptop' src='/images/Refs/rudolfinum_laptop.png' />
      </picture>


    </div>
    </div>
    <picture>
      <source loading="lazy" type="image/webp"  srcset='/images/Refs/rudolfinum_statue.webp' >
      <source loading="lazy" type="image/png"  srcset='/images/Refs/rudolfinum_statue.png' >
      <img loading="lazy" class='reference__block--first_statue' alt='rudolfinum_statue' src='/images/Refs/rudolfinum_statue.png' />
    </picture>



  </div>

  <div class='reference__block--second'>
    <div class='reference__block--second_text reference__block--second_text-rudolfinum'>
    Jako výstavní nesbírková instituce (tzv. Kunsthalle) se Galerie Rudolfinum zaměřuje především na prezentaci současného zahraničního, ale i
    českého umění. Dlouhodobým cílem Galerie Rudolfinum je budování otevřeného komunikačního prostoru, jehož součástí je nejen pořádání
    výstav, ale také aktivní vydavatelská činnost, vytváření edukačních programů pro školy i veřejnost, organizování přednášek, seminářů,
    divadelních představení, hudebních přehlídek apod. Pro tyto aktivity slouží nejen galerie, ale i samostatné edukační centrum Artpark, jehož
    dramaturgie navazuje na probíhající výstavy s cílem přiblížit současné umění především dětem a mládeži, ale i dospělým.
    </div>
    <picture>
      <source loading="lazy"  type="image/webp"  srcset='/images/Refs/rudolfinum_people.webp' >
      <source loading="lazy"  type="image/png"  srcset='/images/Refs/rudolfinum_people.png' >
      <img loading="lazy" class='reference__block--second_rudolfinum_people' alt='rudolfinum_people' src='/images/Refs/rudolfinum_people.png' />
    </picture>
  </div>

  <div class='reference__block--third reference__block--third_rudolfinum'>
    <div class='reference__block--third_title'>
    Péče o klienty věrnostního programu, individuální přístup, cílená komunikace, věrnostní karty, propojení na pokladnách
    </div>
    <div>
      <div class='reference__block--third_text  m-b-6'>
       Pro Galerii Rudolfinum jsme vyprojektovali a vyvinuli specializovaný CRM systém pro správu věrnostního klubu. Individuální přístup ke klientům je umožněn pomocí znalosti typu členství, historie partnera a dalších detailních informací.
      </div>

      <div class='reference__block--third_text  m-b-6'>
       Námi vytvořený pokladní systém ta umožňuje zvýhodnit věrné zákazníky na určité akce, poskytuje volnost administrátorů k nastavení konkrétních cen na jednotlivé události a poskytuje statistiky pro vyhodnocování úspěšnosti jednotlivých marketingových aktivit.
      </div>
      <div class='reference__block--third_text m-b-6'>
       Napojením na mailový subsystém jsme umožnili cílenou komunikaci se zákazníky. Systém jsme vytvořili, rozvíjíme a provozujeme v cloudu.  </div>
      </div>
  </div>

  <div class='reference__block--fourth'>
    <div class='reference__block--fourth_bgvideo'>
      <video class='reference__block--fourth_videocontent' autoplay loop muted poster="/images/Refs/greenswan_hands.webp">
        <source src="/videos/typing-lg.mp4" media="(min-width: 1280px)" type="video/mp4">
        <source src="/videos/typing-lg.webm" media="(min-width: 1280px)" type="video/webm">
        <source src="/videos/typing.mp4"  media="(max-width: 1279px)" type="video/mp4">
        <source src="/videos/typing.webm" media="(max-width: 1279px)" type="video/webm">
        Váš prohlížeč nepodporuje značku videa.
      </video>
    </div>
  </div>

  <div class='reference__block--fifth'>
    <div class='reference__block--fifth_plan-md'>
      <picture>
        <source loading="lazy" type="image/webp"  srcset='/images/Refs/rudolfinum_plan.webp' >
        <source loading="lazy" type="image/png"  srcset='/images/Refs/rudolfinum_plan.png' >
        <img loading="lazy" class='reference__block--fifth_plan' alt='plan' src='/images/Refs/rudolfinum_plan.png' />
      </picture>
    </div>
    <div class='reference__block--fifth_points reference__block--fifth_points-rudolfinum'>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Komplexní databáze klientů</div>
      </div>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Napojení na přípojné body internetové sítě</div>
      </div>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Mobilní aplikace techniků</div>
      </div>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Správa smluv, připojení, plateb...</div>
      </div>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Management úkolů pracovníků</div>
      </div>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Napojení účetního software</div>
      </div>
    </div>
  </div>

  <div class='reference__block--sixth'>
      <div class='reference__block--sixth_header'>Potřebné dovednosti</div>
      <div class='reference__block--sixth_links'>
        <a href='#detailni_funkcni_procesni_a_datova_analyza' class='reference__block--sixth_box  reference__block--sixth_box-detail_process'>
          <div class='reference__block--sixth_title'>Detailní funkční, procesní a datová analýza.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#navrh_informacniho_systemu' class='reference__block--sixth_box  reference__block--sixth_box-system_plan'>
          <div class='reference__block--sixth_title'>Návrh informačního systému.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#tvorba_analytickych_modelu' class='reference__block--sixth_box reference__block--sixth_box-programing'>
          <div class='reference__block--sixth_title'>Programování.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#programovani' class='reference__block--sixth_box  reference__block--sixth_box-analytics_models'>
          <div class='reference__block--sixth_title'>Tvorba analytických modelů.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#systemova_integrace' class='reference__block--sixth_box reference__block--sixth_box-system_integration'>
          <div class='reference__block--sixth_title'>Systémová integrace.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#projektove_rizeni' class='reference__block--sixth_box reference__block--sixth_box-management'>
          <div class='reference__block--sixth_title'>Projektové řízení.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#vyvoj_pro_mobilni_zarizeni' class='reference__block--sixth_box reference__block--sixth_box-mobile_apps'>
          <div class='reference__block--sixth_title'>Vývoj pro mobilní zařízení.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#integrace_mapoveho_subsystemu' class='reference__block--sixth_box reference__block--sixth_box-map_integration'>
          <div class='reference__block--sixth_title'>Integrace mapového
          subsystému.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#adaptace_uzivatelu' class='reference__block--sixth_box reference__block--sixth_box-users'>
          <div class='reference__block--sixth_title'>Adaptace uživatelů.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#provozovani_v_prostredi_cloudu' class='reference__block--sixth_box reference__block--sixth_box-cloud'>
          <div class='reference__block--sixth_title'>Provozování v prostředí cloudu.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
      </div>
    </div>

  <div class='reference__block--span'>
    <span class='reference__block--seventh_dots'></span>
  </div>

  <div class='reference__block--seventh'>
      <div class='reference__block--seventh_title'>Proč nás?</div>
      <div class='reference__block--seventh_text'>Naše řešení mají hlavu a patu.</div>
      <div class='reference__block--seventh_text'>Dbáme na skvělé uživatelské rozhraní.</div>
      <div class='reference__block--seventh_text'>Čerpáme z mnohaletých zkušeností.</div>
      <div class='reference__block--seventh_text'>Inspirujeme se nejlepšími.</div>
      <div class='reference__block--seventh_text'>Zakládáme si na technologickém náskoku.</div>
      <div class='reference__block--seventh_large'>Nabízíme naše služby i Vám.</div>
  </div>

  <div class='reference__block--eighth'>
    <div class='reference__block--eighth_background'>
      <a class='reference__block--eighth_link' href='https://www.iquest.cz/proc-iquest'>Proč vybrat IQuest?</a>
      <a class='reference__block--eighth_link' href='https://www.iquest.cz/reference'>Reference</a>
      <a class='reference__block--eighth_link' href='https://www.iquest.cz/kontakt'>Kontaktujte nás</a>
    </div>
  </div>


  </div>
  <%= partial 'footer' %>
</div>

<%= partial 'skill_list' %>
<%= partial 'reference_nav' %>
