---
title: Moje Magistra - mobilní aplikace pro řetězec lékáren
subtitle: Grafický návrh a návrh UX mobilní aplikace. Vývoj mobilní aplikace.
---
<div class="page-load reference-modal-noscroll">
<div>
  <div class='reference__block--first reference__block--first_magistra'>
    <div class='flex reference__block--first_info'>
    <div class='flex-2 reference__block--first_data'>
      <a class="back text-blue " onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
      </a>
      <div>
        <img loading="lazy" class='reference__block--first_info-logo_magistra reference__block--first_info-logo_magistra m-t-4'
          alt='magistra' src='/images/Refs/magistra_full_logo.png' />
      </div>
      <div class='flex'>
        <div class='company-titles align-self-end'>Společnost:</div>
        <div class='company-name flex-4'>Magistra
        </div>
      </div>
      <div class='flex'>
        <div class='company-titles'>Řešení:</div>
        <div class='company-solution flex-4'>Mobilní aplikace řetězce lékáren Magistra</div>
      </div>
      <div class='flex'>
        <div class='company-titles'>Výsledkem:</div>
        <div class='company-result flex-4'>Najděte si lékárnu, zjistěte dostupnost léku. A pokud není, lékárna
        ho objedná a vy si přijdete, až Vám přijde notifikace.
        <br />
        <br />
        Využijte akčních slev a dalších výhod věrnostního systému pomocí přehledné
        mobilní aplikace.</div>
      </div>
    </div>
    <div class='flex-3 reference__block--first_hideTablet'>
      <picture>
        <source loading="lazy" type="image/webp"  srcset='/images/Refs/magistra_laptop.webp' >
        <source loading="lazy" type="image/png"  srcset='/images/Refs/magistra_laptop.png' >
        <img loading="lazy" class='reference__block--first_laptop reference__block--first_laptop_phones' alt='laptop' src='/images/Refs/magistra_laptop.png' />
      </picture>


    </div>
    </div>
    <picture>
      <source loading="lazy" type="image/webp"  srcset='/images/Refs/magistra_pills.webp' >
      <source loading="lazy" type="image/png"  srcset='/images/Refs/magistra_pills.png' >
      <img loading="lazy" class='reference__block--first_magistra-pills' alt='magistra_pills' src='/images/Refs/magistra_pills.png' />
    </picture>

    <picture>
      <source loading="lazy"  type="image/webp"  srcset='/images/Refs/magistra_pills2.webp' >
      <source loading="lazy"  type="image/png"  srcset='/images/Refs/magistra_pills2.png' >
      <img loading="lazy" class='reference__block--first_magistra_pills2' alt='magistra_pills2' src='/images/Refs/magistra_pills2.png' />
    </picture>

  </div>

  <div class='reference__block--second'>
    <div class='reference__block--second_text'>
    Magistra lékárny je sdružení nezávislých lékáren v ČR. Sdružení vzniklo v roce 2010 a v současné době
    najdete pod hlavičkou Magistra více než 200 lékáren po celé České republice
    </div>
  </div>

  <div class='reference__block--third reference__block--third_magistra'>
    <div class='reference__block--third_title'>
    Mobilní aplikace Moje Magistra podporuje věrnostní program řetězce lékáren
    </div>

    <div>
      <div class='reference__block--third_text m-b-6'>
      Vytvořili jsme projekt s wirefremy, dodali jsme grafický návrh, vytvořili jsme aplikaci,
      provedli jsme integraci na vnitřní systémy lékáren Magistra.
      </div>
      <div class='reference__block--third_text m-b-6'>
      <div class='reference__block--third_checkmark-box m-b-6'>
        <div>
          <img alt='checkmark' src='/images/Refs/checked.png' style='width: 24px; height: 24px; margin-right: 5px;' />
          <div>Nejbližší lékárny na mapě</div>
        </div>
        <div>
          <img alt='checkmark' src='/images/Refs/checked.png' style='width: 24px; height: 24px; margin-right: 5px;' />
          <div>Rezervace léků v lékárně</div>
        </div>
        <div>
          <img alt='checkmark' src='/images/Refs/checked.png' style='width: 24px; height: 24px; margin-right: 5px;' />
          <div>Věrnostní karta v mobilu</div>
        </div>
        <div>
          <img alt='checkmark' src='/images/Refs/checked.png' style='width: 24px; height: 24px; margin-right: 5px;' />
          <div>Informace o dostupnosti léků</div>
        </div>
        <div>
          <img alt='checkmark' src='/images/Refs/checked.png' style='width: 24px; height: 24px; margin-right: 5px;' />
          <div>Načtení receptu pomocí QR kódu</div>
        </div>
        <div>
          <img alt='checkmark' src='/images/Refs/checked.png' style='width: 24px; height: 24px; margin-right: 5px;'/>
          <div>Osobní slevové akce a výhody</div>
        </div>
      </div>
      </div>

    </div>
  </div>

  <div class='reference__block--fourth'>
    <div class='reference__block--fourth_bgvideo'>
      <video class='reference__block--fourth_videocontent' autoplay loop muted poster="/images/Refs/greenswan_hands.webp">
        <source src="/videos/typing-lg.mp4" media="(min-width: 1280px)" type="video/mp4">
        <source src="/videos/typing-lg.webm" media="(min-width: 1280px)" type="video/webm">
        <source src="/videos/typing.mp4"  media="(max-width: 1279px)" type="video/mp4">
        <source src="/videos/typing.webm" media="(max-width: 1279px)" type="video/webm">
        Váš prohlížeč nepodporuje značku videa.
      </video>
    </div>
  </div>

  <div class='reference__block--fifth'>
  <div class='reference__block--fifth_plan-magistra'>
    <picture>
      <source loading="lazy" type="image/webp"  srcset='/images/Refs/magistra_plan.webp' >
      <source loading="lazy" type="image/png"  srcset='/images/Refs/magistra_plan.png' >
      <img loading="lazy" class='reference__block--fifth_plan ' alt='plan' src='/images/Refs/magistra_plan.png' />
    </picture>
  </div>
    <div class='reference__block--fifth_points reference__block--fifth_points-magistra'>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Hybridní mobilní aplikace pro Android i iPhone</div>
      </div>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Napojená webová aplikace</div>
      </div>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Integrace na vnitřní systémy lékáren</div>
      </div>
      <div class='flex align-center'>
        <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
        <div>Načítání QR kódu receptu</div>
      </div>
    </div>
  </div>

  <div class='reference__block--sixth reference__block--sixth-magistra'>
      <div class='reference__block--sixth_header'>Potřebné dovednosti</div>
      <div class='reference__block--sixth_links'>
        <a href='#detailni_funkcni_procesni_a_datova_analyza' class='reference__block--sixth_box  reference__block--sixth_box-detail_process'>
          <div class='reference__block--sixth_title'>Detailní funkční, procesní a datová analýza.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#navrh_informacniho_systemu' class='reference__block--sixth_box  reference__block--sixth_box-system_plan'>
          <div class='reference__block--sixth_title'>Návrh informačního systému.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#tvorba_analytickych_modelu' class='reference__block--sixth_box reference__block--sixth_box-programing'>
          <div class='reference__block--sixth_title'>Programování.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#programovani' class='reference__block--sixth_box  reference__block--sixth_box-analytics_models'>
          <div class='reference__block--sixth_title'>Tvorba analytických modelů.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#systemova_integrace' class='reference__block--sixth_box reference__block--sixth_box-system_integration'>
          <div class='reference__block--sixth_title'>Systémová integrace.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#projektove_rizeni' class='reference__block--sixth_box reference__block--sixth_box-management'>
          <div class='reference__block--sixth_title'>Projektové řízení.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#vyvoj_pro_mobilni_zarizeni' class='reference__block--sixth_box reference__block--sixth_box-mobile_apps'>
          <div class='reference__block--sixth_title'>Vývoj pro mobilní zařízení.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#integrace_mapoveho_subsystemu' class='reference__block--sixth_box reference__block--sixth_box-map_integration'>
          <div class='reference__block--sixth_title'>Integrace mapového
          subsystému.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#adaptace_uzivatelu' class='reference__block--sixth_box reference__block--sixth_box-users'>
          <div class='reference__block--sixth_title'>Adaptace uživatelů.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
        <a href='#provozovani_v_prostredi_cloudu' class='reference__block--sixth_box reference__block--sixth_box-cloud'>
          <div class='reference__block--sixth_title'>Provozování v prostředí cloudu.</div>
          <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
        </a>
      </div>
    </div>

  <div class='reference__block--span'>
    <span class='reference__block--seventh_dots'></span>
  </div>

  <div class='reference__block--seventh'>
      <div class='reference__block--seventh_title'>Proč nás?</div>
      <div class='reference__block--seventh_text'>Naše řešení mají hlavu a patu.</div>
      <div class='reference__block--seventh_text'>Dbáme na skvělé uživatelské rozhraní.</div>
      <div class='reference__block--seventh_text'>Čerpáme z mnohaletých zkušeností.</div>
      <div class='reference__block--seventh_text'>Inspirujeme se nejlepšími.</div>
      <div class='reference__block--seventh_text'>Zakládáme si na technologickém náskoku.</div>
      <div class='reference__block--seventh_large'>Nabízíme naše služby i Vám.</div>
  </div>

  <div class='reference__block--eighth'>
    <div class='reference__block--eighth_background'>
      <a class='reference__block--eighth_link' href='https://www.iquest.cz/proc-iquest'>Proč vybrat IQuest?</a>
      <a class='reference__block--eighth_link' href='https://www.iquest.cz/reference'>Reference</a>
      <a class='reference__block--eighth_link' href='https://www.iquest.cz/kontakt'>Kontaktujte nás</a>
    </div>
  </div>


  </div>
  <%= partial 'footer' %>
</div>

<%= partial 'skill_list' %>
<%= partial 'reference_nav' %>
