---
title: Webová a mobilní aplikace pro dispečink taxislužby Modrý anděl | iQuest s.r.o.
subtitle: Vytvořili jsme kompletní softwarové zázemí od call-centra po web a napojení mobilních aplikací pro taxislužbu Modrý anděl.
---
<div class="page-load reference-modal-noscroll">
  <div>
    <div class='reference__block--first reference__block--first_modry_andel'>
      <div class='flex reference__block--first_info'>
      <div class='flex-2 reference__block--first_data'>
        <a class="back text-blue " onclick="window.history.back(); return false;" href="#" data-aos="fade-left"> <i class="fa fa-lg fa-arrow-left"></i> <b>Zpět</b>
        </a>
        <div>

        <picture>
          <source loading="lazy"  type="image/webp" srcset='/images/Refs/modry_andel_full_logo.webp' >
          <source loading="lazy" type="image/png"  srcset='/images/Refs/modry_andel_full_logo.png' >
          <img loading="lazy" class='reference__block--first_info-logo_andel reference__block--first_info-logo_andel m-t-4'
            alt='modry_andel' src='/images/Refs/modry_andel_full_logo.png' />
        </picture>


        </div>
        <div class='flex'>
          <div class='company-titles align-self-end'>Společnost:</div>
          <div class='company-name flex-4'>Modrý Anděl</div>
        </div>
        <div class='flex'>
          <div class='company-titles'>Řešení:</div>
          <div class='company-solution flex-4'>Komplexní a plně integrovaný dispečink pro
          taxislužbu Modrý anděl</div>
        </div>
        <div class='flex'>
          <div class='company-titles'>Výsledkem:</div>
          <div class='company-result flex-4'>Maximální automatizace a zefektivnění provozu, napojení
          na mobilní aplikace řidičů a zákazníků. Propojení s tel. ústřednou...</div>
        </div>
      </div>
      <div class='flex-3 reference__block--first_hideTablet'>
        <picture>
          <source loading="lazy" type="image/webp"  srcset='/images/Refs/modry_andel_laptop.webp' >
          <source loading="lazy" type="image/png"  srcset='/images/Refs/modry_andel_laptop.png' >
          <img loading="lazy" class='reference__block--first_laptop' alt='laptop' src='/images/Refs/modry_andel_laptop.png' />
        </picture>


      </div>
      </div>
      <picture>
        <source loading="lazy" type="image/webp"  srcset='/images/Refs/modry_andel_driver.webp' >
        <source loading="lazy" type="image/png"  srcset='/images/Refs/modry_andel_driver.png' >
        <img loading="lazy" class='reference__block--first_driver' alt='modry_andel_driver' src='/images/Refs/modry_andel_driver.png' />
      </picture>

      <picture>
        <source loading="lazy"  type="image/webp"  srcset='/images/Refs/modry_andel_taxi.webp' >
        <source loading="lazy"  type="image/png"  srcset='/images/Refs/modry_andel_taxi.png' >
        <img loading="lazy" class='reference__block--first_taxi' alt='taxi' src='/images/Refs/modry_andel_taxi.png' />
      </picture>

    </div>

    <div class='reference__block--second'>
      <div class='reference__block--second_text'>
      Modrý anděl je přední pražská taxislužba, která zajišťuje rovněž přepravu vozů, kurýrní služby apod. Její hlavní misí je poskytovat vysokou
      úroveň služeb a dlouhodobé partnerství se svými klienty.
      </div>


    </div>

    <div class='reference__block--third reference__block--third_andel'>
      <div class='reference__block--third_title'>
      Software pomáhá zajistit maximální zefektivnění provozu vozů</div>
      <div>
        <div class='reference__block--third_text m-b-6'>
        S Modrým andělem spolupracujeme jež řadu let a naším prvním úkolem bylo nahradit původní využívání vysílaček, zoptimalizovat provoz vozidel, abychom řidičům umožnili co nejkratší přejezdy ke klientům a zákazníkům tak zprostředkovali co nejrychlejší přistavení vozu dle jejich přání. </div>
        <div class='reference__block--third_text m-b-6'>
        Po rozsáhlé analýze a návrhu komplexní aplikace jsme se rozhodli jako jedni z prvních využít pro řidiče smartphony se systémem Android, který byl ve svých skutečných začátcích.
        </div>
        <div class='reference__block--third_text m-b-6'>
        Vše se podařilo a Modrým andělem spolupracujeme jež přes 12 let. Celá aplikace je dnes stále optimalizována a přizpůsobována potřebám zákazníkům, řidičům i managementu.
        </div>
      </div>
    </div>

    <div class='reference__block--fourth'>
      <div class='reference__block--fourth_bgvideo'>
        <video class='reference__block--fourth_videocontent' autoplay loop muted poster="/images/Refs/laptop_hands.webp">
          <source src="/videos/Night Prague-1.m4v"  type="video/mp4">
          Váš prohlížeč nepodporuje značku videa.
        </video>
      </div>
    </div>

    <div class='reference__block--fifth'>
      <picture>
        <source loading="lazy" type="image/webp"  srcset='/images/Refs/modry_andel_plan.webp' >
        <source loading="lazy" type="image/png"  srcset='/images/Refs/modry_andel_plan.png' >
        <img loading="lazy" class='reference__block--fifth_plan' alt='plan' src='/images/Refs/modry_andel_plan.png' />
      </picture>

      <div class='reference__block--fifth_points reference__block--fifth_points-andel'>
        <div class='flex align-center'>
          <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
          <div>Automatizované řízení provozu</div>
        </div>
        <div class='flex align-center'>
          <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
          <div>Komplexní integrace na vnitřní systémy</div>
        </div>
        <div class='flex align-center'>
          <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
          <div>Napojení na mobilní aplikace</div>
        </div>
        <div class='flex align-center'>
          <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
          <div>Integrovaná tel. ústředna</div>
        </div>
        <div class='flex align-center'>
          <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
          <div>Napojení na klientský firemní portál</div>
        </div>
        <div class='flex align-center'>
          <img loading="lazy" class='m-r-2' alt='checkmark' style='width: 31px; height: 31px' src='/images/checkmark.png'/>
          <div>Dlouhodobý rozvoj a spolupráce.</div>
        </div>
      </div>
    </div>

    <div class='reference__block--sixth'>
        <div class='reference__block--sixth_header'>Potřebné dovednosti</div>
        <div class='reference__block--sixth_links'>
          <a href='#detailni_funkcni_procesni_a_datova_analyza' class='reference__block--sixth_box  reference__block--sixth_box-detail_process'>
            <div class='reference__block--sixth_title'>Detailní funkční, procesní a datová analýza.</div>
            <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
          </a>
          <a href='#navrh_informacniho_systemu' class='reference__block--sixth_box  reference__block--sixth_box-system_plan'>
            <div class='reference__block--sixth_title'>Návrh informačního systému.</div>
            <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
          </a>
          <a href='#tvorba_analytickych_modelu' class='reference__block--sixth_box reference__block--sixth_box-programing'>
            <div class='reference__block--sixth_title'>Programování.</div>
            <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
          </a>
          <a href='#programovani' class='reference__block--sixth_box  reference__block--sixth_box-analytics_models'>
            <div class='reference__block--sixth_title'>Tvorba analytických modelů.</div>
            <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
          </a>
          <a href='#systemova_integrace' class='reference__block--sixth_box reference__block--sixth_box-system_integration'>
            <div class='reference__block--sixth_title'>Systémová integrace.</div>
            <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
          </a>
          <a href='#projektove_rizeni' class='reference__block--sixth_box reference__block--sixth_box-management'>
            <div class='reference__block--sixth_title'>Projektové řízení.</div>
            <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
          </a>
          <a href='#vyvoj_pro_mobilni_zarizeni' class='reference__block--sixth_box reference__block--sixth_box-mobile_apps'>
            <div class='reference__block--sixth_title'>Vývoj pro mobilní zařízení.</div>
            <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
          </a>
          <a href='#integrace_mapoveho_subsystemu' class='reference__block--sixth_box reference__block--sixth_box-map_integration'>
            <div class='reference__block--sixth_title'>Integrace mapového
            subsystému.</div>
            <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
          </a>
          <a href='#adaptace_uzivatelu' class='reference__block--sixth_box reference__block--sixth_box-users'>
            <div class='reference__block--sixth_title'>Adaptace uživatelů.</div>
            <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
          </a>
          <a href='#provozovani_v_prostredi_cloudu' class='reference__block--sixth_box reference__block--sixth_box-cloud'>
            <div class='reference__block--sixth_title'>Provozování v prostředí cloudu.</div>
            <div class='reference__block--sixth_detail'>Detail <img loading="lazy" alt='arrow' style='width: 13px; height: 10px' src='/images/arrow_right.png' /></div>
          </a>
          <div class='reference__block--sixth_box reference__block--sixth_box-mobile_integration'>
            <div class='reference__block--sixth_title'>Integrace telefonní ústředny
            pro hovory a SMS</div>
            <div class='reference__block--sixth_detail'>Detail</div>
          </div>
        </div>
      </div>

    <div class='reference__block--span'>
      <span class='reference__block--seventh_dots'></span>
    </div>

    <div class='reference__block--seventh'>
        <div class='reference__block--seventh_title'>Proč nás?</div>
        <div class='reference__block--seventh_text'>Naše řešení mají hlavu a patu.</div>
        <div class='reference__block--seventh_text'>Dbáme na skvělé uživatelské rozhraní.</div>
        <div class='reference__block--seventh_text'>Čerpáme z mnohaletých zkušeností.</div>
        <div class='reference__block--seventh_text'>Inspirujeme se nejlepšími.</div>
        <div class='reference__block--seventh_text'>Zakládáme si na technologickém náskoku.</div>
        <div class='reference__block--seventh_large'>Nabízíme naše služby i Vám.</div>
    </div>

    <div class='reference__block--eighth'>
      <div class='reference__block--eighth_background'>
        <a class='reference__block--eighth_link' href='https://www.iquest.cz/proc-iquest'>Proč vybrat IQuest?</a>
        <a class='reference__block--eighth_link' href='https://www.iquest.cz/reference'>Reference</a>
        <a class='reference__block--eighth_link' href='https://www.iquest.cz/kontakt'>Kontaktujte nás</a>
      </div>
    </div>


    </div>
    <%= partial 'footer' %>
</div>

<%= partial 'skill_list' %>
<%= partial 'reference_nav' %>
